*

!.gitignore
!.gitconfig
!.xinitrc

!.bashrc
!.bashrc.d/
!.bashrc.d/*

!.config/



!.panmuphled.json

!.config/Code\ -\ OSS/
!.config/Code\ -\ OSS/User
!.config/Code\ -\ OSS/User/keybindings.json

!.config/rofi/
!.config/rofi/config.rasi
