*

!.gitignore
!.gitconfig

!.bashrc
!.bashrc.d/
!.bashrc.d/*

!.config/

!.dmrc

!.config/hypr/
!.config/hypr/hyprland.conf

!.panmuphled.json

!.config/Code\ -\ OSS/
!.config/Code\ -\ OSS/User
!.config/Code\ -\ OSS/User/keybindings.json
